$primaryFont: 'Montserrat', sans-serif;
$primaryFontWeight: 600;
$secondaryFont: 'Raleway', sans-serif;
$secondaryFontWeight: 400;
$transitionSpeed: background-color 800ms linear;
$navItemFontWeight: 500;
$primaryBlue: #0073E6;

.topNavigation{
  .navTitle{
    font-family: 'Montserrat', sans-serif;
    color: #ffffff !important;
    font-weight: 700;
    font-size: 24px;
  }
  .navTitleScroll{
    font-family: 'Montserrat', sans-serif;
    color:  $primaryBlue !important;
    font-weight: 700;
    font-size: 24px;
  }
  .navBackground{
    -webkit-transition: $transitionSpeed;
    -moz-transition: $transitionSpeed;
    -o-transition:  $transitionSpeed;
    transition:  $transitionSpeed;
    background-color: rgba(00,00,00,0.4) !important;
  }
  .navBackgroundScroll{
    -webkit-transition:  $transitionSpeed;
    -moz-transition:  $transitionSpeed;
    -o-transition:  $transitionSpeed;
    transition:  $transitionSpeed;
    background-color: #ffffff;
    box-shadow: 0 0  32px 0 rgba(0, 115, 230, 0.2);
  }
  .navItem{
    font-size: 16px;
    padding: 10px 10px 10px 10px;
    text-decoration: none !important;
    font-family: 'Montserrat', sans-serif;
    font-weight: $navItemFontWeight;
    color: #ffffff ;
  }
  .navItem:hover{
    border-radius: 10px 10px 10px 10px;
    background: white !important;
    color: black !important;
  }
  .navItemScroll{
    font-size: 16px;
    padding: 10px 10px 10px 10px;
    text-decoration: none !important;
    font-family: 'Montserrat', sans-serif;
    font-weight: $navItemFontWeight;
    color: rgb(43,43,43) ;
  }
  .navItemScroll:hover{
    border-radius: 10px 10px 10px 10px;
    background: $primaryBlue !important;
    color: white !important;
  }
  .activeNavItem{
    font-size: 16px;
    padding: 10px 10px 10px 10px;
    text-decoration: none !important;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-weight: $navItemFontWeight;
    background: white !important;
    color: black !important;
  }
  .fixed-top {
    max-height: calc(120vh - 4.5em);
    overflow-y: auto;
  }
}
.topBanner{
  .banner {
    background-image: url("http://gonitcorcakendro.com/images/TopBanner.jpg");
    min-height: 500px;
    width: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 5rem;
  }
  .bannerOverlay {
    position: absolute;
    min-height: 500px;
    background-color: rgba(0, 0, 0, 0);
  }
  .topContentMargin{
    margin-top: 12rem;
  }
  .title{
    font-family: $primaryFont;
    font-weight: 700;
    color: #ffffff;
    font-size: 48px;
  }
  .subTitle{
    font-family: $secondaryFont;
    font-weight: 600;
    color: #ffffff;
    font-size: 22px;
  }
}
.topBanner2{
  .banner {
    background-image: url("http://gonitcorcakendro.com/images/TopBanner.jpg");
    min-height: 325px;
    width: 100%;
    background-attachment: fixed;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 5rem;
  }
  .bannerOverlay {
    position: absolute;
    min-height: 300px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
  }
  .topContentMargin{
    margin-top: 6rem;
  }
  .title{
    font-family: $primaryFont;
    font-weight: 700;
    color: #ffffff;
    font-size: 48px;
  }
  .subTitle{
    font-family: $secondaryFont;
    font-weight: 600;
    color: #ffffff;
    font-size: 22px;
  }
}
.videoTutorialFrontPage{
  .bannerVideo {
    background-image: url("http://gonitcorcakendro.com/images/main/VideoTutorial-background.jpg");
    min-height: 300px;
    width: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 5rem;
  }
  .bannerVideoOverlay {
    position: absolute;
    min-height: 500px;
    background-color: rgba(0, 0, 0, 0);
  }
  .container {
    height: 300px;
    position: relative;
  }
  .vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .bannerCard{
    height: 8rem;
    width: 6rem;
    background: transparent;
    border-radius: 2px;
    border: none !important;
    margin: 1rem;
    padding: 1rem;
    box-shadow: 0 0  4px 0 rgba(0, 115, 230, 0.2);
  }
  .bannerCard:hover{
    box-shadow: 0 0  16px 0 rgba(0, 115, 230, 0.2);
  }
  .bannerCardImg{
    height: 3rem;
    width: 3rem;
  }
  .title{
    font-family: $primaryFont;
    font-weight: 700;
    color: #ffffff;
    font-size: 48px;
  }
  .subTitle{
    font-family: $secondaryFont;
    font-weight: 600;
    color: #ffffff;
    font-size: 22px;
  }
  .bannerColumn{
    width: auto;
    height: auto;
  }
}
.noticeBoardFrontPage{
  .bannerVideo {
    background-image: url("http://gonitcorcakendro.com/images/main/Notice-background.jpg");
    min-height: 300px;
    width: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 5rem;
  }
  .bannerVideoOverlay {
    background-position: center;
    min-height: 300px;
    background-color: rgba(13, 41, 10, 0.15);
  }
  .container {
    height: 300px;
    position: relative;
  }
  .vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .bannerCard{
    height: 8rem;
    width: 6rem;
    background: transparent;
    border-radius: 2px;
    border: none !important;
    margin: 1rem;
    padding: 1rem;
    box-shadow: 0 0  4px 0 rgba(0, 115, 230, 0.2);
  }
  .bannerCard:hover{
    box-shadow: 0 0  16px 0 rgba(0, 115, 230, 0.2);
  }
  .bannerCardImg{
    height: 3rem;
    width: 3rem;
  }
  .title{
    font-family: $primaryFont;
    font-weight: 700;
    color: #ffffff;
    font-size: 48px;
  }
  .subTitle{
    font-family: $secondaryFont;
    font-weight: 600;
    color: #ffffff;
    font-size: 22px;
  }
  .bannerColumn{
    width: auto;
    height: auto;
  }
}
.blogBoardFrontPage{
  .bannerVideo {
    background-image: url("http://gonitcorcakendro.com/images/main/Blog-background.jpg");
    min-height: 300px;
    width: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 5rem;
  }
  .bannerVideoOverlay {
    background-position: center;
    min-height: 300px;
    background-color: rgba(13, 41, 10, 0.15);
  }
  .container {
    height: 300px;
    position: relative;
  }
  .vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .bannerCard{
    height: 8rem;
    width: 6rem;
    background: transparent;
    border-radius: 2px;
    border: none !important;
    margin: 1rem;
    padding: 1rem;
    box-shadow: 0 0  4px 0 rgba(0, 115, 230, 0.2);
  }
  .bannerCard:hover{
    box-shadow: 0 0  16px 0 rgba(0, 115, 230, 0.2);
  }
  .bannerCardImg{
    height: 3rem;
    width: 3rem;
  }
  .title{
    font-family: $primaryFont;
    font-weight: 700;
    color: #ffffff;
    font-size: 48px;
  }
  .subTitle{
    font-family: $secondaryFont;
    font-weight: 600;
    color: #ffffff;
    font-size: 22px;
  }
  .bannerColumn{
    width: auto;
    height: auto;
  }
}

.course{
  .mainTitle{
    color: #0073E6;
    margin-bottom: 2rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    font-weight: 600;
    text-align: center;
  }
  .imgRes{
    width: 100%;
    height: 10rem;
  }
  .title{
    margin-top: 1rem;
    font-family: 'Raleway', sans-serif;
    font-size: 28px;
    font-weight: 600;
    text-align: center;
  }
  .subtitle{
    margin-top: 1rem;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    color: #373737;
    font-weight: 400;
  }
  .card{
    height: auto;
    min-height: 8rem;
    border-radius: 2px;
    border: none !important;
    margin: 2px 2px 2px 2px;
    box-shadow: 0 0  4px 0 rgba(0, 115, 230, 0.2);
  }
  .card:Hover{
    box-shadow: 0 0  16px 0 rgba(0, 115, 230, 0.2);
  }
  .cardDetails{
    height: auto;
    border-radius: 2px;
    border: none !important;
    margin: 2px 2px 2px 2px;
    box-shadow: 0 0  4px 0 rgba(0, 115, 230, 0.2);
  }
}
.blog{
  .cardBlog{
    height: 15rem;
    border-radius: 2px;
    border: none !important;
    margin: 2px 2px 2px 2px;
    box-shadow: 0 0  4px 0 rgba(0, 115, 230, 0.2);
  }
  .cardBlog:Hover{
    box-shadow: 0 0  16px 0 rgba(0, 115, 230, 0.2);
  }
  .mainTitle{
    margin-top: auto;
    margin-bottom: auto;
    color: rgba(29, 29, 29, 0.85);
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
  }
}
.notice{
  .cardNotice{
    align-content: center;
    height: auto;
    border-radius: 2px;
    border: none !important;
    margin: 2px 2px 2px 2px;
    box-shadow: 0 0  4px 0 rgba(0, 115, 230, 0.2);
  }
  .cardNotice:Hover{
    box-shadow: 0 0  16px 0 rgba(0, 115, 230, 0.2);
  }
  .titleNotice{
    margin-top: 1rem;
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    font-weight: 600;
    text-align: center;
  }
  .subtitleNotice{
    margin-top: 1rem;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #565555;
    font-weight: 400;
  }
}
.video{
  .player{
    width: 100%;
    height:20rem;
  }

  .largeCard{
    width: 100%;
    height:auto;
  }
  .videoNav{
    border-radius: 2px;
    border: none !important;
    margin: 2px 2px 2px 2px;
    box-shadow: 0 0  32px 0 rgba(0, 115, 230, 0.2);
  }
  .videos{
    height: 25rem;
    overflow-y: scroll;
  }
  .card{
    border-radius: 2px;
    border: none !important;
    margin: 2px 2px 2px 2px;
    box-shadow: 0 0  4px 0 rgba(0, 115, 230, 0.2);
  }
  .card:Hover{
    box-shadow: 0 0  16px 0 rgba(0, 115, 230, 0.2);
    color: $primaryBlue;
  }
  .navDropDown{
    height: auto;
  }

}
.footer{
  .footerSection{
    margin-top: 5rem;
    box-shadow: 0 0 4px 0 rgba(0, 115, 230, 0.2);
  }
  .footerTitle{
    margin-top: 1rem;
    font-family: $secondaryFont;
    font-size: 22px;
    font-weight: 600;
  }
  .footerSubTitle{
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #242323;
  }
  .footerSubTitle:hover{
    text-decoration: none;
    color: #0073E6;
  }

  .copyRightLink{
    color: white;
    text-decoration: none;
    font-family: $primaryFont;
    font-weight: 400;
    font-size: 14px;
  }
  .copyRightLink:hover{
    color: $primaryBlue;
    text-decoration: none;
    background: white;
  }
  .copyRightSection{
    padding: 20px 20px 20px 20px;
    background-color: #0073E6;
  }
}


